function Ball.new 0
    push constant 15
    call Memory.alloc 1
    pop pointer 0
    push constant 0
    pop this 3
    push constant 0
    pop this 4
    push constant 0
    pop this 5
    push constant 97
    pop this 13
    push constant 50
    pop this 14
    push pointer 0
    return
function Ball.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Ball.getPosX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Ball.updatePosition 0
    push argument 0
    pop pointer 0
    push constant 0
    return
function Ball.draw 0
    push argument 0
    pop pointer 0
    push this 0
    push this 1
    push this 11
    call Screen.drawCircle 3
    pop temp 0
    push constant 0
    return