function Main.main 1
    call FreekickGame.newInstance 0
    pop temp 0
    call FreekickGame.getInstance 0
    pop local 0
    push local 0
    call FreekickGame.run 1
    pop temp 0
    push local 0
    call FreekickGame.dispose 1
    pop temp 0
    push constant 0
    return